<ng-template #contentBox let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="box-modal-basic-title">
      <span *ngIf="!cameraAvailable">Abholbox auswählen:</span>
      <span *ngIf="cameraAvailable">Abholbox einscanen:</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!cameraAvailable" class="form-group">
      <section  class=item-info-wrapper *ngFor="let box of boxes">
        <div class=container>
          <div class=item-info>
            <p class=info>Name: {{box.boxNumber}}</p>
            <button class="button" (click)="chooseBox(box)">auswählen</button>
          </div>
        </div>
      </section>
    </div>
    <div *ngIf="cameraAvailable" class="form-group">
      <zxing-scanner (scanSuccess)="scanSuccessHandler($event)" ></zxing-scanner>
    </div>
  </div>
</ng-template>
<button class="button-modal" (click)="open(contentBox)">Bestellung abarbeiten</button>
