<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser && currentUser.role == 1">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/patient/prescriptions">Meine Rezepte</a>
    <a class="nav-item nav-link" (click)="logoutPatient()">Logout</a>
  </div>
</nav>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser && currentUser.role == 2">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/pharmacist">Home</a>
    <a class="nav-item nav-link" routerLink="/pharmacist/prescriptions">Bestellungen</a>
    <a class="nav-item nav-link" (click)="logoutPharmacist()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <app-alert></app-alert>
        <router-outlet></router-outlet>
     </div>
    </div>
  </div>
</div>
