<div class="list-item">
  <h2>Meine Rezepte</h2>
  <section class=item-info-wrapper *ngFor="let prescription of prescriptions | keyvalue">
   <div class="container">
    <div class=item-img><img class=item-img [src]="prescription.value.imgUrl"/></div>
    <div class=item-info>
      <p class=info> {{prescription.value.medicine}}, {{prescription.value.amount}} </p>
      <p class=info> {{prescription.value.issuedBy}}</p>
      <p class=info>Gültig bis: {{prescription.value.expireDate}}</p>
      <div class=item-status>
          <p class=info>Status: </p>
          <p *ngIf="!prescription.value.redeemed && !prescription.value.pharmacyId"><app-pharmacy-modal [prescription]="prescription.value"></app-pharmacy-modal></p>
          <p class=info *ngIf="!prescription.value.redeemed && prescription.value.pharmacyId">Ausstehend</p>
          <p class=info *ngIf="prescription.value.redeemed"> abgeholt <i class="fas fa-check"></i></p>
      </div>
     </div>
  </div>
  </section>
</div>
