<div class=content>
    <h2>Abholstation Übersicht</h2>
      <div class="container-row">
        <div class=perception-item *ngFor="let box of boxes | keyvalue">
            <p class=info>Box Nummer: {{box.value.boxNumber}}</p>
            <p class=info>Letzte Änderung: {{getFormatedDate(box.value.date)}}</p>
            <div *ngIf="box.value.status === 'empty'">
              <p class=info>Status:</p>
              <img src="../../assets/box_empty.svg" class=imgprop/>
            </div>
            <div *ngIf="box.value.status === 'inProcess'">
              <p class=info>Status:</p>
              <img src="../../assets/box_inProgress.svg" class=imgprop/>
            </div>
            <div *ngIf="box.value.status === 'stored'">
              <p class=info>Status:</p>
              <img src="../../assets/box_finished.svg" class=imgprop/>
            </div>
        </div>
      </div>
  </div>
